<div class="container mt-4">
  <div class="modal_Employee" [ngClass]="{ hidden: modalHidden === 'false' }">
    <button class="btnClose" (click)="closeModal()">&times;</button>
    <h1>Employee registration</h1>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="name"
          placeholder="Enter Name"
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
        />

        <label for="exampleInputEmail1">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          aria-describedby="address"
          placeholder="Enter Address"
          [(ngModel)]="address"
          [ngModelOptions]="{ standalone: true }"
        />

        <label for="exampleInputEmail1">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          aria-describedby="phone"
          placeholder="Enter Phone Number"
          [(ngModel)]="phone"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>

      <div>
        <button
          type="submit"
          (click)="save()"
          class="btn btn-primary btnSubmit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container mt-4">
  <h1>Employee Table</h1>
  <button
    type="button"
    class="btn btn-primary btnAddEmployee"
    (click)="showModal()"
  >
    Add Employee
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employeeItem of employeeArray">
        <td>{{ employeeItem.name | uppercase }}</td>
        <td>{{ employeeItem.address }}</td>
        <td>{{ employeeItem.phone }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success btnEdit"
            (click)="setUpdateEmployee(employeeItem)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteEmployee(employeeItem)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
